{% set page = 'home' %}
{% set title = 'Base project structure' %}
{% set description = '' %}

{% extends "./layouts/default.html" %}

{% block content %}

<div class="hero hero--extended" style="background-image: url(assets/img/placeholder/image.svg);">
    <div class="hero__content">
        <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium fringilla magna et egestas.</h1>
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <div class="section__content">
                    <h2>Lorem ipsum dolor sit amet. Aliquam pretium fringilla magna et egestas.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="read-more__wrapper">
                        <div class="read-more__content__wrapper">
                            <div class="read-more__content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium fringilla magna et egestas. Duis sit amet viverra diam. Fusce lobortis interdum malesuada. Nunc egestas, ipsum ullamcorper rutrum lobortis, turpis eros malesuada massa, sit amet condimentum purus ipsum sed nisl. Maecenas commodo diam ac augue dictum, a egestas elit vehicula.</p>
                            </div>
                        </div>
                        <span class="read-more">Read more</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="section__content">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium fringilla magna et egestas.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium fringilla magna et egestas. Duis sit amet viverra diam. Fusce lobortis interdum malesuada. Nunc egestas, ipsum ullamcorper rutrum lobortis, turpis eros malesuada massa, sit amet condimentum purus ipsum sed nisl. Maecenas commodo diam ac augue dictum, a egestas elit vehicula.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="section__content">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium fringilla magna et egestas.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium fringilla magna et egestas. Duis sit amet viverra diam. Fusce lobortis interdum malesuada. Nunc egestas, ipsum ullamcorper rutrum lobortis, turpis eros malesuada massa, sit amet condimentum purus ipsum sed nisl. Maecenas commodo diam ac augue dictum, a egestas elit vehicula.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--split">
    <div class="split-bg" style="background-image: url(assets/img/placeholder/image.svg);"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-6">
                <div class="section__content">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium fringilla magna et egestas. Duis sit amet viverra diam. Fusce lobortis interdum malesuada. Nunc egestas, ipsum ullamcorper rutrum lobortis, turpis eros malesuada massa, sit amet condimentum purus ipsum sed nisl. Maecenas commodo diam ac augue dictum, a egestas elit vehicula.</p>
                    <div class="button__wrapper button--left">
                        <a class="button">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--split">
    <div class="split-bg split-bg--right" style="background-image: url(assets/img/placeholder/image.svg);"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="section__content">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium fringilla magna et egestas. Duis sit amet viverra diam. Fusce lobortis interdum malesuada. Nunc egestas, ipsum ullamcorper rutrum lobortis, turpis eros malesuada massa, sit amet condimentum purus ipsum sed nisl. Maecenas commodo diam ac augue dictum, a egestas elit vehicula.</p>
                    <div class="button__wrapper button--left">
                        <a class="button">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6" data-center="true">
                <div class="section__content">
                    <img class="split-image" src="assets/img/placeholder/image.svg" alt="">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="section__content">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium fringilla magna et egestas. Duis sit amet viverra diam. Fusce lobortis interdum malesuada. Nunc egestas, ipsum ullamcorper rutrum lobortis, turpis eros malesuada massa, sit amet condimentum purus ipsum sed nisl. Maecenas commodo diam ac augue dictum, a egestas elit vehicula.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="section__content">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium fringilla magna et egestas. Duis sit amet viverra diam. Fusce lobortis interdum malesuada. Nunc egestas, ipsum ullamcorper rutrum lobortis, turpis eros malesuada massa, sit amet condimentum purus ipsum sed nisl. Maecenas commodo diam ac augue dictum, a egestas elit vehicula.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium fringilla magna et egestas. Duis sit amet viverra diam. Fusce lobortis interdum malesuada. Nunc egestas, ipsum ullamcorper rutrum lobortis, turpis eros malesuada massa, sit amet condimentum purus ipsum sed nisl. Maecenas commodo diam ac augue dictum, a egestas elit vehicula.</p>
                </div>
            </div>
            <div class="col-sm-6"  data-center="true">
                <div class="section__content">
                    <img class="split-image" src="assets/img/placeholder/image.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <div class="section__content">
                    <ul class="accordion">
                        <li>
                            <h3 class="accordion__title">Title</h3>
                            <div class="accordion__content__wrapper">
                                <div class="accordion__content">
                                    <p>Nulla posuere felis non imperdiet porttitor. Aliquam nec eros et lectus accumsan faucibus. Nam porta interdum efficitur. Fusce ullamcorper auctor urna a tempus. In at lacus ut neque pretium ornare sit amet a lacus. Cras ultricies tortor sed felis eleifend faucibus. Aenean tempus dolor odio, et luctus arcu vehicula non.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h3 class="accordion__title">Title</h3>
                            <div class="accordion__content__wrapper">
                                <div class="accordion__content">
                                    <p>Proin porttitor ultrices odio. Mauris lobortis leo ut ornare ultrices. Aliquam volutpat massa sit amet sem interdum condimentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h3 class="accordion__title">Title</h3>
                            <div class="accordion__content__wrapper">
                                <div class="accordion__content">
                                    <p>Sed commodo ante vel felis porta gravida. Integer vestibulum egestas augue a efficitur. Vivamus euismod, augue eget vehicula consectetur, elit massa tincidunt purus, at auctor neque ante ac nunc. Integer ex nibh, mattis et augue at, pulvinar pellentesque risus. Sed ut massa eu velit ornare fringilla sit amet ut ligula. Fusce vitae tortor non est lacinia aliquet nec ac velit. Sed consectetur ante quis erat sollicitudin aliquam. Ut egestas mauris nec vulputate convallis. Duis et leo eget dui auctor blandit. Donec in ornare lorem. Fusce diam felis, pulvinar ut ipsum sed, efficitur efficitur libero.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section">
    <div class="container">
        <div class="row">
            <div class="section__content">
                <div class="modal-list">
                    <div class="item col-sm-4 col-xs-6">
                        <a href="#" data-toggle="modal" data-target="#modal1">
                            <div class="item-image-container">
                                <span class="item-image"></span>
                            </div>
                            <div class="item-details">
                                <span class="item-title">Item Title 1</span>
                                <span class="item-subtitle">Item Subtitle</span>
                            </div>
                        </a>
                    </div>
                    <div class="item col-sm-4 col-xs-6">
                        <a href="#" data-toggle="modal" data-target="#modal1">
                            <div class="item-image-container">
                                <span class="item-image"></span>
                            </div>
                            <div class="item-details">
                                <span class="item-title">Item Title 2</span>
                                <span class="item-subtitle">Item Subtitle</span>
                            </div>
                        </a>
                    </div>
                    <div class="item col-sm-4 col-xs-6">
                        <a href="#" data-toggle="modal" data-target="#modal1">
                            <div class="item-image-container">
                                <span class="item-image"></span>
                            </div>
                            <div class="item-details">
                                <span class="item-title">Item Title 3</span>
                                <span class="item-subtitle">Item Subtitle</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" tabindex="-1" role="dialog" id="modal1">
    <div class="modal-dialog" role="document">
        <div class="container">
            <span class="modal-close" data-dismiss="modal"></span>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="modal-slider">
                            <div>
                                <div class="item">
                                    <div class="item-image-container">
                                        <span class="item-image"></span>
                                    </div>
                                    <div class="item-details">
                                        <span class="item-title">Item Title 1</span>
                                        <span class="item-subtitle">Item Subtitle</span>
                                    </div>
                                    <div class="item-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum est, accumsan nec eros ut, luctus elementum sapien. Duis eu lacus erat. Maecenas porttitor orci sed mi sodales porttitor. Pellentesque pulvinar, dolor facilisis porta lobortis, neque leo viverra turpis, quis sagittis nisl nunc at elit. Sed vitae arcu erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. In a tortor nunc. Donec congue risus vitae nunc scelerisque tincidunt. Maecenas mollis placerat posuere. Nunc vulputate ante velit, non feugiat dolor facilisis aliquam. Aenean cursus ut massa eget vehicula. Suspendisse ornare dolor eu nisl condimentum rhoncus. Aliquam eu commodo augue. Pellentesque eget metus ligula.</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="item">
                                    <div class="item-image-container">
                                        <span class="item-image"></span>
                                    </div>
                                    <div class="item-details">
                                        <span class="item-title">Item Title 2</span>
                                        <span class="item-subtitle">Item Subtitle</span>
                                    </div>
                                    <div class="item-description">
                                        <p>Praesent nec vulputate eros. Nunc ornare erat dignissim eleifend viverra. Mauris nec enim felis. Sed dolor velit, porta ut cursus rhoncus, lobortis nec nulla. Etiam interdum lorem vitae rhoncus viverra. In aliquam sit amet nunc ut consectetur. Nulla efficitur nibh sit amet urna consectetur, a tincidunt massa fermentum. Fusce elit orci, ornare eget est sit amet, iaculis pellentesque sem. Phasellus eget vehicula felis. Duis finibus tellus in dapibus dictum. Vivamus porta auctor lobortis.</p>
                                        <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum vitae lacus rhoncus, tristique eros ac, pellentesque magna. Quisque sit amet sem bibendum, placerat libero et, aliquam felis. Etiam elit erat, fringilla nec lectus ac, ullamcorper vulputate velit. Ut enim dolor, cursus sit amet ultricies sed, posuere ut purus. In hac habitasse platea dictumst. Etiam suscipit dui id ante venenatis, id iaculis enim efficitur. Curabitur ac lorem bibendum, cursus tortor vel, blandit mi. Aenean auctor, nunc in dignissim aliquet, tortor odio semper erat, sed egestas arcu arcu ac ipsum. Integer id turpis eget orci convallis iaculis nec ut augue.</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="item">
                                    <div class="item-image-container">
                                        <span class="item-image"></span>
                                    </div>
                                    <div class="item-details">
                                        <span class="item-title">Item Title 3</span>
                                        <span class="item-subtitle">Item Subtitle</span>
                                    </div>
                                    <div class="item-description">
                                        <p>Donec dolor ligula, hendrerit quis ex sit amet, semper faucibus metus. Nullam congue, quam et feugiat posuere, metus arcu elementum arcu, a rutrum eros massa in arcu. Vivamus eu magna vel ipsum placerat iaculis. Cras tristique varius felis et dapibus. Quisque metus magna, cursus non dolor non, laoreet malesuada sem. In egestas turpis vel felis mattis tempor. Duis lobortis ipsum nec semper venenatis. Phasellus a congue eros. Nam bibendum libero quis nunc maximus, vitae dignissim nisl rutrum. Vivamus placerat ipsum nec nibh posuere, eget imperdiet tellus consequat. Praesent at auctor sapien. Sed ut sem et nisl dignissim aliquam eu in quam.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="section__content">
                <div class="steps">
                    <span class="steps__line"></span>
                    <div class="step">
                        <span class="step__marker">1</span>
                        <p>Donec fringilla libero eget lacus mattis tincidunt. Sed vitae auctor felis.</p>
                    </div>
                    <div class="step">
                        <span class="step__marker">2</span>
                        <p>Suspendisse vestibulum, ligula nec eleifend vestibulum, velit lacus posuere turpis, a iaculis neque purus sit amet metus.</p>
                    </div>
                    <div class="step">
                        <span class="step__marker">3</span>
                        <p>Sed eget turpis velit. Praesent elit metus, ultricies nec tortor eget, molestie posuere justo.</p>
                    </div>
                    <div class="step">
                        <span class="step__marker">4</span>
                        <p>Donec ultrices eleifend mauris, ut volutpat ex hendrerit vel.</p>
                    </div>
                    <div class="step">
                        <span class="step__marker">5</span>
                        <p>Maecenas a mi egestas, auctor erat at, mattis augue.</p>
                    </div>
                    <div class="step">
                        <span class="step__marker">6</span>
                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="section__content">
                <div class="ss">
                    <ul class="ss__selectors">
                        <li>Label 1</li>
                        <li>Label 2</li>
                        <li>Label 3</li>
                    </ul>
                    <div class="ss__slides">
                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac tempor ligula. Sed ornare, turpis vitae tristique fringilla, ipsum nisi rutrum velit, consequat tincidunt dolor est at quam. Duis maximus lacus non orci consectetur lacinia. Cras et fringilla libero, sit amet sodales odio. Proin mollis nibh sit amet lectus suscipit dictum. Proin malesuada urna at augue mattis porta.</p>
                        </div>
                        <div>
                            <p>In vestibulum facilisis diam, sed congue turpis sagittis id. In scelerisque congue augue eu dignissim. Fusce scelerisque neque eget ante rutrum tempor. Mauris auctor sem non consequat posuere. Fusce tincidunt ante eu hendrerit molestie. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris purus massa, tincidunt sed porta pharetra, sagittis in neque. In feugiat finibus urna, et egestas ipsum placerat et. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        </div>
                        <div>
                            <p>Nam congue ante a eros iaculis blandit. Donec at venenatis leo. Donec sollicitudin lectus purus, et dignissim dolor faucibus non. Ut id sapien lacinia arcu ultrices fringilla. Sed tincidunt lectus quis dictum pellentesque.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{# <section class="section">
    <div class="container">
        <div class="row">
            <div class="ss ss--images">
                <ul class="ss__selectors">
                    <li>
                        <img src="/assets/img/placeholder/image.svg" class="ss__image">
                        <span class="ss__title">Title 1</span>
                    </li>
                    <li>
                        <img src="/assets/img/placeholder/image.svg" class="ss__image">
                        <span class="ss__title">Title 2</span>
                    </li>
                    <li>
                        <img src="/assets/img/placeholder/image.svg" class="ss__image">
                        <span class="ss__title">Title 3</span>
                    </li>
                </ul>
                <div class="ss__slides">
                    <div>
                        <img src="/assets/img/placeholder/image.svg" class="ss__image">
                        <h2 class="ss__title">Title 1</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac tempor ligula. Sed ornare, turpis vitae tristique fringilla, ipsum nisi rutrum velit, consequat tincidunt dolor est at quam. Duis maximus lacus non orci consectetur lacinia. Cras et fringilla libero, sit amet sodales odio. Proin mollis nibh sit amet lectus suscipit dictum. Proin malesuada urna at augue mattis porta.</p>
                    </div>
                    <div>
                        <img src="/assets/img/placeholder/image.svg" class="ss__image">
                        <h2 class="ss__title">Title 2</h2>
                        <p>In vestibulum facilisis diam, sed congue turpis sagittis id. In scelerisque congue augue eu dignissim. Fusce scelerisque neque eget ante rutrum tempor. Mauris auctor sem non consequat posuere. Fusce tincidunt ante eu hendrerit molestie. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris purus massa, tincidunt sed porta pharetra, sagittis in neque. In feugiat finibus urna, et egestas ipsum placerat et. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                    </div>
                    <div>
                        <img src="/assets/img/placeholder/image.svg" class="ss__image">
                        <h2 class="ss__title">Title 3</h2>
                        <p>Nam congue ante a eros iaculis blandit. Donec at venenatis leo. Donec sollicitudin lectus purus, et dignissim dolor faucibus non. Ut id sapien lacinia arcu ultrices fringilla. Sed tincidunt lectus quis dictum pellentesque.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> #}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="section__content">
                <span data-video="youtube" data-video-id="bwlrPKnmoHs">YouTube video</span>
                <span data-video="wistia" data-video-id="j38ihh83m5">Wistia video</span>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="modal-list">
                    <div class="item col-sm-4 col-xs-6">
                        <a href="#" data-toggle="modal" data-target="#modal1">
                            <div class="item-image-container">
                                <img src="assets/img/placeholder-square.jpg" alt="" class="item-image">
                            </div>
                            <div class="item-details">
                                <span class="item-title">Item Title 1</span>
                                <span class="item-subtitle">Item Subtitle</span>
                            </div>
                        </a>
                    </div>
                    <div class="item col-sm-4 col-xs-6">
                        <a href="#" data-toggle="modal" data-target="#modal1">
                            <div class="item-image-container">
                                <img src="assets/img/placeholder-square.jpg" alt="" class="item-image">
                            </div>
                            <div class="item-details">
                                <span class="item-title">Item Title 2</span>
                                <span class="item-subtitle">Item Subtitle</span>
                            </div>
                        </a>
                    </div>
                    <div class="item col-sm-4 col-xs-6">
                        <a href="#" data-toggle="modal" data-target="#modal1">
                            <div class="item-image-container">
                                <img src="assets/img/placeholder-square.jpg" alt="" class="item-image">
                            </div>
                            <div class="item-details">
                                <span class="item-title">Item Title 3</span>
                                <span class="item-subtitle">Item Subtitle</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal1">
    <div class="modal-dialog" role="document">
        <div class="container">
            <span class="modal-close" data-dismiss="modal"></span>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="modal-slider">
                            <div>
                                <div class="item">
                                    <div class="item-image-container">
                                        <img src="assets/img/placeholder-square.jpg" alt="" class="item-image">
                                    </div>
                                    <div class="item-details">
                                        <span class="item-title">Item Title 1</span>
                                        <span class="item-subtitle">Item Subtitle</span>
                                    </div>
                                    <div class="item-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum est, accumsan nec eros ut, luctus elementum sapien. Duis eu lacus erat. Maecenas porttitor orci sed mi sodales porttitor. Pellentesque pulvinar, dolor facilisis porta lobortis, neque leo viverra turpis, quis sagittis nisl nunc at elit. Sed vitae arcu erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. In a tortor nunc. Donec congue risus vitae nunc scelerisque tincidunt. Maecenas mollis placerat posuere. Nunc vulputate ante velit, non feugiat dolor facilisis aliquam. Aenean cursus ut massa eget vehicula. Suspendisse ornare dolor eu nisl condimentum rhoncus. Aliquam eu commodo augue. Pellentesque eget metus ligula.</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="item">
                                    <div class="item-image-container">
                                        <img src="assets/img/placeholder-square.jpg" alt="" class="item-image">
                                    </div>
                                    <div class="item-details">
                                        <span class="item-title">Item Title 2</span>
                                        <span class="item-subtitle">Item Subtitle</span>
                                    </div>
                                    <div class="item-description">
                                        <p>Praesent nec vulputate eros. Nunc ornare erat dignissim eleifend viverra. Mauris nec enim felis. Sed dolor velit, porta ut cursus rhoncus, lobortis nec nulla. Etiam interdum lorem vitae rhoncus viverra. In aliquam sit amet nunc ut consectetur. Nulla efficitur nibh sit amet urna consectetur, a tincidunt massa fermentum. Fusce elit orci, ornare eget est sit amet, iaculis pellentesque sem. Phasellus eget vehicula felis. Duis finibus tellus in dapibus dictum. Vivamus porta auctor lobortis.</p>
                                        <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum vitae lacus rhoncus, tristique eros ac, pellentesque magna. Quisque sit amet sem bibendum, placerat libero et, aliquam felis. Etiam elit erat, fringilla nec lectus ac, ullamcorper vulputate velit. Ut enim dolor, cursus sit amet ultricies sed, posuere ut purus. In hac habitasse platea dictumst. Etiam suscipit dui id ante venenatis, id iaculis enim efficitur. Curabitur ac lorem bibendum, cursus tortor vel, blandit mi. Aenean auctor, nunc in dignissim aliquet, tortor odio semper erat, sed egestas arcu arcu ac ipsum. Integer id turpis eget orci convallis iaculis nec ut augue.</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="item">
                                    <div class="item-image-container">
                                        <img src="assets/img/placeholder-square.jpg" alt="" class="item-image">
                                    </div>
                                    <div class="item-details">
                                        <span class="item-title">Item Title 3</span>
                                        <span class="item-subtitle">Item Subtitle</span>
                                    </div>
                                    <div class="item-description">
                                        <p>Donec dolor ligula, hendrerit quis ex sit amet, semper faucibus metus. Nullam congue, quam et feugiat posuere, metus arcu elementum arcu, a rutrum eros massa in arcu. Vivamus eu magna vel ipsum placerat iaculis. Cras tristique varius felis et dapibus. Quisque metus magna, cursus non dolor non, laoreet malesuada sem. In egestas turpis vel felis mattis tempor. Duis lobortis ipsum nec semper venenatis. Phasellus a congue eros. Nam bibendum libero quis nunc maximus, vitae dignissim nisl rutrum. Vivamus placerat ipsum nec nibh posuere, eget imperdiet tellus consequat. Praesent at auctor sapien. Sed ut sem et nisl dignissim aliquam eu in quam.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="section__content">
                    <form id="order-form" action="" class="form-horizontal" method="POST">
                        <input type="text" id="honeypot" class="honeypot" name="honeypot"/>
                        <div class="form-group">
                            <div class="form-item col-sm-12">
                                <h3>Form title</h3>
                            </div>
                            <div class="form-item col-sm-6">
                                <label for="fullname">Name<sup>*</sup></label>
                                <input type="text" id="fullname"  class="form-control input-error" name="fullname" />
                                <span class="error">Error</span>
                            </div>
                            <div class="form-item col-sm-6">
                                <label for="title">Email<sup>*</sup></label>
                                <input type="text" id="title"  class="form-control" name="title" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-item col-sm-6">
                                <label for="due-date">Due date</label>
                                <input type="text" class="form-control datepicker" placeholder="MM/DD/YYYY" id="due-date">
                            </div>
                            <div class="form-item col-sm-6">
                                <label>Select input</label>
                                <div class="select storage-select">
                                    <select type="text" id="baby_selector" class="form-control" > 
                                        <option value="1" selected>Option 1</option>
                                        <option value="2">Option 2</option> 
                                        <option value="3">Option 3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-item col-sm-6">
                                <label><input type="checkbox" name="additional-info" class="form-control"><span class="check-btn"></span>Checkbox</label>
                            </div>
                            <div class="form-item col-sm-6">
                                <label><input type="checkbox" name="additional-info" class="form-control" checked><span class="check-btn"></span>Checkbox (checked)</label>
                            </div>
                            <div class="form-item col-sm-6">
                                <label class="disabled" ><input type="checkbox" name="additional-info" class="form-control" disabled><span class="check-btn"></span>Checkbox (disabled)</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-item col-sm-6">
                                <label><input type="radio" name="optradio" checked><span class="radio-btn"></span>Radio</label>
                            </div>
                            <div class="form-item col-sm-6">
                                <label><input type="radio" name="optradio" checked><span class="radio-btn"></span>Radio (checked)</label>
                            </div>
                            <div class="form-item col-sm-6">
                                <label class="disabled"><input type="radio" name="optradio" disabled><span class="radio-btn"></span>Radio (disabled)</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-item col-sm-12">
                                <label>Textarea<sup>*</sup></label>
                                <textarea class="form-control"></textarea>
                            </div>
                            <div class="form-item col-sm-12">
                                <em>Required<sup>*</sup></em>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-item col-sm-12">
                                <div class="button__wrapper button--right">
                                    <button class="button">Send</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

