<footer class="footer">
    <div class="footer-sitemap">
        <div class="sitemap-container">
            <div class="sitemap-col">
                <ul>
                    <li><a href="#">Sitemap item</a></li>
                </ul>
            </div>
            <div class="sitemap-col">
                <ul>
                    <li><a href="#">Sitemap item</a></li>
                </ul>
            </div>
            <div class="sitemap-col">
                <ul>
                    <li><a href="#">Sitemap item</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <span class="copyright">&copy; 2017 Audacity. <a href="privacy-policy.html">Privacy Policy</a></span>
            <span class="audacity"><a href="http://audacityhealth.com" target="_blank">Designed by Audacity</a></span>
        </div>
    </div>
</footer>