<header class="header">
	<div class="promo">
    <div class="promo__inner">
        <a href="#">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </a>
        <div class="promo__close"></div>
    </div>
	</div>
	<div class="header__inner">
		<a href="index.html" class="header__logo">
			<img src="assets/img/placeholder/logo.svg" alt="">
		</a>
		<div class="trigger"><span></span></div>
		<nav class="nav">
			<div class="nav__header">
				<a href="index.html" class="header__logo">
					<img src="assets/img/placeholder/logo.svg" alt="">
				</a>
				<div class="trigger"></div>
			</div>
			<div class="menu">
				<ul class="menu__list">
					<li>
						<a class="menu__toggle">Company</a>
						<ul class="menu__list2">
							<li><a href="#">List2 item 1</a></li>
							<li>
								<a class="menu__toggle">List2 item 2</a>
								<ul class="menu__list3">
									<li><a href="#">List3 item 1</a></li>
									<li><a href="#">List3 item 2</a></li>
									<li><a href="#">List3 item 3</a></li>
								</ul>
							</li>
							<li>
								<a class="menu__toggle">List2 item 3</a>
								<ul class="menu__list3">
									<li><a href="#">List3 item 1</a></li>
									<li><a href="#">List3 item 2</a></li>
									<li><a href="#">List3 item 3</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a class="menu__toggle" href="#">Services</a>
						<ul class="menu__list2">
							<li><a href="#">List2 item 1</a></li>
							<li><a href="#">List2 item 2</a></li>
							<li>
								<a class="menu__toggle">List2 item 3</a>
								<ul class="menu__list3">
									<li><a href="#">List3 item 1</a></li>
									<li><a href="#">List3 item 2</a></li>
									<li><a href="#">List3 item 3</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="#">Science</a></li>
					<li><a href="#">Media</a></li>
				</ul>
			</div>
			<div class="utility-menu">
				<ul class="utility-menu__list">
					<li><a href="#">Search</a></li>
					<li><a href="#">Login</a></li>
				</ul>
			</div>
		</nav>
	</div>
</header>