<div class="outdated-browser">
    <div class="outdated-header">
        <a href="index.html">
            <h1>Logo</h1>
        </a>
    </div>
    <div class="outdated-body">
        <h2>Thank you for visiting</h2>
        <h3>To view the site, please update your browser</h3>
        <p>This site works on all modern browsers with legacy support back through Internet Explorer 9. Please update by going to the link below.</p>
        <div class="button__wrapper button--center">
            <a href="http://outdatedbrowser.com/en" class="button" target="_blank">Update browser</a>
        </div>
    </div>
</div>