.accordion {
	padding: 0;
	list-style: none;
}
.accordion__title {
	position: relative;
	display: block;
	margin: 0;
	padding: 15px 20px 15px 0;
	cursor: pointer;
	&:after {
		content: "+";
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		display: inline-block;
	}
	.active & {
		&:after {
			content: "-";
		}
	}
}
.accordion__content__wrapper {
	position: relative;
	height: 0;
	border-bottom: 1px solid #000;
	overflow: hidden;
}
.accordion__content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 0 15px;
	opacity: 0;
}